<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jardim da Educação</title>
    <link rel="stylesheet" type="text/css" href="./CSS/inicio.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
</head>
<body>
<div class="site">
    <div id="header">
        <div id="conteudo-left">
            <img id="logo" src="Img/logoTCC.png" alt="logo">
        </div>
        <div id="conteudo-right">
            <div class="menu">
                <ul>
                    <div class="primeiro-menu">
                        <li> 
                        <details>
                            <summary> Entrar </summary>   
                        <li > <a class="link" href="./login.html">Aluno</a></li>
                        <li > <a class="link" href="">Professor</a></li>
                        </details>
                        </li>
                        <li> 
                            <details>
                                <summary> Cadastrar-se </summary>
                            <li > <a class="link" href="./cadastroAluno.html">Aluno</a></li>
                            <li > <a class="link" href="">Professor</a></li>
                                                    </details>
                        </li>
                    </div>
                </ul>
            </div>
        <img id="placa" src="Img/placa.png" alt="placa">
        <img id="passaro" src="Img/passaro1.png" alt="passaro">
        <p class="texto1">Criamos esse site para um acesso melhor a educação das crianças do pré 1 ao pré 3.</p>
        <p class="texto1">Nós não substituimos a escola, mas somos um reforço  e ajudamos você e seu filho a passarem mais tempos juntos.</p>
        <p class="texto1">Não perca essa oportunidade e venha nessa aventura incrivel para conhecer nosso jardim cheio de educação e conhecimentos!</p>
        
        </div>
    </div>
        <div class="conteudo-inicial">
            <div class="texto-principal">
                <p id="texto2">
                    
                    Este programa de educação infantil tem como objetivo: <br>
                    ajudar as crianças nas atividades escolares de forma simples
                    e explicativa. Nós complementamos e fazemos 
                    alicerce diretamente com a escola.
                   
                </p>
            </div>
        </div>
        <div></div>
    <div id="cursos">
        <div >
            <h1 id="cursos-titulo">Nossos Cursos</h1>
            <p id="cursos-texto">Nós oferecemos cursos para crianças que estão na pré escola 1 até as que estão no 4º ano do ensino fundamental. Além da grade obrigatória, nós tentamos ir um pouco mais além na educação, tonando divertido e desafiador para as crianças.</p>
            <p id="cursos-texto">  > Pré 1, Pré 2 e Pré 3: Procuramos oferecer um conteúdo mais dinamico, trabalhando bastante com arte e cordenação motora.</p>
            <p id="cursos-texto" style="color: red;">Tudo isso e muito mais essas crianças aprenderão aqui.Venha tornar seu filho um pequeno explorador!!!</p>
        </div>
    </div>
    
    <div id="footer">
        <div id="conteudo-cursos">
            <h4>Informações para contato</h4>
        </div>
    </div>
</div>
    <script src="./JavaScript/script.js"></script>
</body>
</html>
